# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Admin Login Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
JWT_SECRET=add_your_random_jwt_secret_here
